.container {
  width: 700px;   /* This sets the width */
  margin: 0 auto;
  box-shadow: 0px 0px 10px grey;
  padding: 10px;
  border-radius: 10px;
  background-color: #EAEAEA;
  text-align: center;
}

.container ul {
  padding: 0;
  font-size: 20px;
  justify-content: center;
}

.card {
  width: 740px;   /* This sets the width */
  margin: 5 auto;
  margin-top: 14px;
  margin-bottom: 2px;
  padding: 2px;
  border-radius: 10px;
  background-color: #EAEAEA;
  text-align: center;
  font-size: 20px;
  box-shadow: 0px 0px 10px grey;
}

.card ul {
  padding: 0;
  font-size: 30px;
  justify-content: center;
}

.btn {
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  background-color: #204051;
  color: orange;
}

.btn:hover {
  text-decoration: none;
  opacity: 0.8;
  color: white;
}

.image {
  width: 700px;
  margin: 10 auto;
  padding: 4px;
  border-radius: 10px;
  background-color: #EAEAEA;
}

.text-justify {
  text-align: justify;
}

a {
  color: orange;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  opacity: 0.8;
  color: #0E4749;
}

body {
  background-color: #222831;
  opacity: 0.9;
  text-align: center;
  justify-content: all;
  font-family: 'Asap', sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;

}
h1 {
  font-family: 'Krona One', sans-serif;
  font-weight: bold;
  color: #2B2D42;
  font-size: 36px;
  text-align: center;
  margin: 10px;
}

h2 {
  font-family: 'Asap', sans-serif;
  font-weight: bold;
  color: #2B2D42;
  font-size: 25px;
  text-align: center;
  margin: 10px;
}

h3, p {
  color: #2B2D42;
  font-weight: lighter;
  font-family: 'Asap', sans-serif;
  text-align: center;
  font-size: 20px;
}
