.banner {
  height: 620px;
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  align-items: center;
}

.banner h2 {
  color: orange;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner h1 {
  margin: 0;
  color: orange;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 75px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.container {
  width: 100%; /* This sets the width */
  margin: 0 auto;
  box-shadow: 0px 0px 10px grey;
  padding: 10px;
  border-radius: 10px;
  background-color: #EAEAEA;
  text-align: center;
}

.container ul {
  padding: 0;
  font-size: 20px;
  justify-content: center;
}

.description {
  width: 600px;
  margin: 0 auto;
  margin-top: 20px;
}

.card {
  width: 200px;   /* This sets the width */
  margin: 5 auto;
  margin-top: 14px;
  margin-bottom: 2px;
  padding: 2px;
  border-radius: 10px;
  background-color: #EAEAEA;
  text-align: center;
  font-size: 20px;
  box-shadow: 0px 0px 10px grey;
}

ul {
  padding: 0;
  font-size: 30px;
  justify-content: center;
}

.card-trip {
  width: 550px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-trip > img {
  height: 300px;
  width: 550px;
  object-fit: center;
}

.card-trip h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}


.btn {
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  background-color: #204051;
  color: orange;
}

.btn:hover {
  text-decoration: none;
  opacity: 0.8;
  color: white;
}

.image {
  width: 100%;
  margin: 0 auto;
  padding: 4px;
  background-color: #EAEAEA;
}

.img {
  border-radius: 50%;
}

.text-justify {
  text-align: justify;
}

a {
  color: orange;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  opacity: 0.8;
  color: #0E4749;
}

body {
  background-color: white;
  opacity: 0.9;
  text-align: center;
  justify-content: all;
  font-family: 'Asap', sans-serif;
  padding-bottom: 5px;

}
h1 {
  font-family: 'Krona One', sans-serif;
  font-weight: bold;
  color: #2B2D42;
  font-size: 30px;
  text-align: center;
  margin: 20px;
}

h2 {
  font-family: 'Krona One', sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

h3, p {
  color: #2B2D42;
  font-weight: lighter;
  font-family: 'Asap', sans-serif;
  text-align: center;
  font-size: 20px;
}
